[alias]
  a = add
  a3 = !sh -c 'git add -A && git commit --amend --reset-author'
  aa = add -A
  ap = add -p
  br = branch
  bra = branch -a
  ci = "!f() { git commit -m \"$*\"; }; f"
  cia = commit --amend --reset-author
  co = checkout
  cp = cherry-pick
  d = diff
  ds = diff --staged
  df = difftool
  dfb = "git-dfb"
  dfs = difftool --staged
  ft  = commit -m'fix: temp'
  l  = log --pretty=format:'%C(yellow)%h%Creset %s %C(green)[%ar] %C(red)[%an]' -15 --graph
  la = log --all --branches --remotes --pretty=format:'%C(yellow)%h%Creset %s %C(green)[%ar] %C(red)[%an]' --graph
  ll = log --pretty=format:'%C(yellow)%h%Creset %s %C(green)[%ar] %C(red)[%an]' --graph
  p = pull --rebase
  ps = push
  psf = push --force-with-lease
  rbi = "!f() { git rebase --interactive HEAD~$1; }; f"
  re = "!git branch --sort=-committerdate | head -n 10 ; git branch --sort=-committerdate -a | grep -E 'origin' | grep -v 'HEAD' | sed 's,remotes/,,' | head -n 10"
  rh = reset --hard
  rs = reset --soft HEAD~
  rm-local-brs = !sh -c "git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -d"
  st = status
[init]
  defaultBranch = master
[credential]
  helper = /usr/lib/git-core/git-credential-libsecret
[core]
  filemode = false
  autocrlf = false
  editor = nvim
  pager = delta
[color]
  ui = auto
[delta]
  navigate = true
[diff]
  colorMoved = default
  tool = mygitdiff
[difftool "mygitdiff"]
  cmd = vdf "$LOCAL" "$REMOTE"
[interactive]
  diffFilter = delta --color-only
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  keepBackup = false
[push]
  default = simple
