**/.clj-kondo/**
!**/.clj-kondo/config.edn
.config/fish/fish_variables
.config/hypr/hyprland.conf
.config/yazi/yazi.toml
.cpcache/
.~lock.*
.lsp
.nrepl-port
.rebel_readline_history
scripts/clojure/classes/
scripts/clojure/reports/
