[Desktop Entry]
Type=Application
Name=Boot -> Windows 11
GenericName=Windows
Comment=Boot the Windows 11 VM
Exec=docker compose --file ~/.config/winapps/compose.yaml start && notify-send "Windows 11 Booted"
Icon=windows
Terminal=false
Type=Application
