[alias]
  a = add
  a3 = !sh -c 'git add -A && git commit --amend --reset-author'
  aa = add -A
  ap = add -p
  br = branch
  bra = branch -a
  ci = commit
  cia = commit --amend --reset-author
  cif = commit --fixup
  ciu = commit -m"updated"
  co = checkout
  cp = cherry-pick
  df = difftool
  dfb = "git-dfb"
  dfs = difftool --staged
  l  = log --pretty=format:\"%Cgreen%h%Creset %s %Cgreen[%ar]\" -15 --graph
  ll = log --pretty=format:\"%Cgreen%h%Creset %s %Cgreen[%ar]\" --graph
  ls = shortlog
  p = pull --rebase
  pa = pull --rebase --all
  ps = push
  psf = push --force-with-lease
  r = reset
  rbi = "!f() { git rebase --interactive HEAD~$1; }; f"
  rh = reset --hard
  rm-local-brs = !sh -c "git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -d"
  st = status
  sta = stash
  su = submodule update --init --recursive
  sync = !sh -c 'git add -A && git commit -m"updated" && git push'
  wt = worktree
  wta = "!f() { git worktree add ../$1 $1; }; f"
  wtr = "!f() { git worktree remove $1; }; f"
[init]
	defaultBranch = master
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[core]
  filemode = false
  autocrlf = false
	editor = nvim
  pager = delta
[color]
  ui = auto
[delta]
  navigate = true
[diff]
  colorMoved = default
  tool = nvimdiff
[interactive]
  diffFilter = delta --color-only
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  keepBackup = false
[push]
  default = simple
[user]
  name = Thiru Thirunavukarasu
  email = thiru0130@gmail.com
